/* === Container max-width === */
.container {
  max-width: 1050px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* === Flat Icon === */
@font-face {
  font-family: "Flaticon";
  src: url("./assets/fonts/flaticon/font/Flaticon.eot");
  src: url("./assets/fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/flaticon/font/Flaticon.woff") format("woff"),
    url("./assets/fonts/flaticon/font/Flaticon.ttf") format("truetype"),
    url("./assets/fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./assets/fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-bullhorn:before {
  content: "\f10a";
}

.flaticon-stats:before {
  content: "\f103";
}

.flaticon-vector:before {
  content: "\f10b";
}

.flaticon-branding:before {
  content: "\f102";
}

.flaticon-web-programming:before {
  content: "\f101";
}

.flaticon-ux:before {
  content: "\f100";
}

.flaticon-light-bulb:before {
  content: "\f105";
}

.flaticon-file:before {
  content: "\f106";
}

.flaticon-waiter:before {
  content: "\f107";
}

.flaticon-customer-service:before {
  content: "\f108";
}

.flaticon-good-review:before {
  content: "\f109";
}

/* === Topbar section === */
.topbar {
  padding: 7px 0 7px 0;
  color: #f8f9fa;
  z-index: 2;
  position: relative;
}

.topbar span {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width:768px) {
  .topbar {
    display: none;
  }
}

/* === Navbar section === */
nav {
  background: rgba(255, 255, 255, 0.1) !important;
}

@media screen and (max-width:768px) {
  nav {
    background: black !important;
  }
}

header {
  position: absolute;
  width: 100%;
}

.navbar .navbar-brand {
  color: #f8f9fa;
  font-weight: 700;
  font-size: 32px;
}

.navbar-nav .nav-item .nav-link {
  color: #f8f9fa;
  font-weight: 600;
}

.navbar {
  z-index: 2;
  position: relative;
}

.navbar-nav .nav-link.active {
  color: #cdb30c !important;
}

/* === Banner section === */
.banner {
  top: 0;
  background-image: url(assets/xbg_1.jpg.pagespeed.ic.Tg4OKt8DCq.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 780px;
  z-index: 1;
  overflow: hidden;
  width: 100%;
}

.text {
  position: relative;
  top: 200px;
}

.subheading {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 120px;
}

.heading {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* === Service Section === */
.service-section {
  padding: 7em 0;
  position: relative;
  width: 100%;
}

.services {
  background: url(assets/image1.jpg.webp) repeat;
  background-attachment: fixed;
  color: #f8f9fa;
}

.icon {
  line-height: 1.3;
  position: relative;
  border-radius: 50%;
  margin-bottom: 7px;
  font-size: 46px;
  color: #cdb30c;
}

.service-body {
  position: relative;
  flex: 1;
}

.service-box {
  background-color: black;
  border-radius: 5px;
}

.service-heading {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* === Introduction Section === */
.intro-image img {
  width: 100%;
  height: 750px;
}

.intro-about {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 200px;
}

.intro-about h2 {
  font-size: 34px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.intro-about p {
  /* padding-top: 10px; */
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
}

.introduction-subheading {
  font-size: 13px;
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
  color: #cdb30c;
  text-transform: uppercase;
}

.year {
  margin-left: -70px;
}
.year strong{
  font-size: 32px;
  font-weight: 700;
}
.year p{
  font-size: 10px;
  line-height: 1;
  font-weight: 600;
  color: #f8f9fa;
}
@media screen and (max-width:768px) {
  .year {
    margin-left: 0px;
  }

}

.year-image {
  width: 50px;
  height: 60px;
  position: relative;
  border-radius: 50%;
}

.year-bulb {
  position: absolute;
  top: 1px;
  right: 5px;
}

/* === Counter Section === */
.counter {
  background-image: url("assets/counter.jpg.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.counter-icon {
  font-size: 50px;
  background-color: #cdb30c;
}

.counter-text {
  padding-left: 15px;
}

.counter-text strong {
  font-size: 32px;
  font-weight: 700;
}

.counter-text span {
  font-size: 14px;
  font-weight: 600;
}

.counter-box {
  margin: 90px 0;
}

/* === Team Section === */
.team {
  padding-top: 100px;
}

.team-heading span {
  font-size: 13px;
  display: block;
  font-weight: 600;
  color: #cdb30c;
}

.team-heading h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 3px;
}

.team-link {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 20px;
}

.team-link a {
  padding: 5px;
  color: #cdb30c;
  border: 2px solid #cdb30c;
  text-decoration: none;
}

.team-image-div {
  width: 100%;
  padding-top: 50px;
}

.team-image img {
  width: 111%;
  height: 350px;
}

.container-2 {
  margin: 0 0 0 auto !important;
  max-width: 1240px;
}

@media screen and (max-width:768px) {
  .container-2 {
    padding: 0 20px;
    max-width: 1240px;
  }

  .team-image img {
    width: 106%;
    height: 400px;
  }
}

/* === Project Section === */
.project {
  padding-top: 100px;
  padding-bottom: 300px;
}

.project-image img {
  width: 100%;
  height: 300px;
  margin-top: 23px;
}

.portfolio {
  margin-top: -200px;
}

@media screen and (max-width:768px) {
  .project {
    padding-bottom: 200px;
  }

  .project-image img {
    width: 100%;
    margin-top: 20px;
  }
}

/* === Testimonial Section === */
.testimonial {
  background-color: #f4f5f9;
  padding: 150px 0;
}

.testimonial-heading {
  padding: 50px 0;
}

.testimonial-heading span {
  font-size: 13px;
  font-weight: 600;
}

.testimonial-heading h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 3px;
}

.testimonial-box {
  border-radius: 5px;
}

.box-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 20px;
}

.box {
  border-radius: 5px;
}

@media screen and (max-width:768px) {
  .box {
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
}

/* === SFooter Section === */
.footer-section {
  padding: 150px 0;
}

.footer-icon {
  position: relative;
}

.icon1 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
}

.text-color {
  color: rgba(255, 255, 255, 0.7);
}