.topbar{
    padding: 7px 0 7px 0;
}
header{
    z-index: 2;
}
.banner{
    position: absolute;
    top:0;
    background-image: url(assets/xbg_1.jpg.pagespeed.ic.Tg4OKt8DCq.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}